.root {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 60%,
            rgba(220, 238, 249, 0.85) 70%,
            rgba(220, 235, 255, 0.85) 75%,
            rgba(187, 225, 254, 0.9) 80%,
            rgba(114, 185, 245, 0.9) 85%,
            rgba(176, 0, 167, 0.9) 95%,
            rgba(253, 145, 78, 0.9) 100%);
}

.title-text {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-alignment: center;
    -fx-padding: 20px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-control-inner-background: transparent;
    -fx-control-inner-background-alt: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-font-size: 15px;
    -fx-text-fill: #333333;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 5px;
    -fx-background-insets: 0 0 5 0;
}

.table-row-cell .table-cell {
    -fx-text-fill: #333333;
}

.table-row-cell:odd {
    -fx-background-color: rgba(240, 248, 255, 0.95);
    -fx-background-insets: 0 0 5 0;
}

.table-row-cell:selected {
    -fx-background-color: #cce6ff;
    -fx-background-insets: 0 0 5 0;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #333333;
}

.primary-button {
    -fx-background-color: linear-gradient(to bottom right, #72b9f5 0%, #b000a7 100%);
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: 600;
    -fx-padding: 14 20;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.primary-button:hover {
    -fx-translate-y: -2;
    -fx-effect: dropshadow(gaussian, rgba(176, 0, 167, 0.3), 10, 0.3, 0, 0);
}