.root {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 60%,
            rgba(220, 238, 249, 0.85) 70%,
            rgba(220, 235, 255, 0.85) 75%,
            rgba(187, 225, 254, 0.9) 80%,
            rgba(114, 185, 245, 0.9) 85%,
            rgba(176, 0, 167, 0.9) 95%,
            rgba(253, 145, 78, 0.9) 100%);
}

#authContainer {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-padding: 40;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 32, 0, 0, 8);
    -fx-alignment: center;
}

.titulo {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-fill: #333;
}

/* LABELS */
.labelForm {
    -fx-text-fill: #555;
    -fx-font-size: 16px;
    -fx-font-weight: 500;
}

/* CAMPOS */
.campo {
    -fx-background-color: white;
    -fx-padding: 12;
    -fx-border-color: #ddd;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-font-size: 16px;
    -fx-border-width: 1px;
}

.campo:focused {
    -fx-border-color: #72b9f5;
    -fx-effect: dropshadow(gaussian, rgba(114, 185, 245, 0.3), 8, 0.2, 0, 0);
}

.botonPrincipal {
    -fx-background-color: linear-gradient(to bottom right, #72b9f5 0%, #b000a7 100%);
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-padding: 14 20;
    -fx-background-radius: 6;
    -fx-cursor: hand;
}

.botonPrincipal:hover {
    -fx-translate-y: -2;
    -fx-effect: dropshadow(gaussian, rgba(176, 0, 167, 0.3), 10, 0.3, 0, 0);
}

.enlace {
    -fx-text-fill: #b000a7;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
}

.enlace:hover {
    -fx-text-fill: #72b9f5;
    -fx-underline: true;
}