.root {
    -fx-font-family: 'Poppins', sans-serif;

    -fx-background-color: linear-gradient(to bottom right,
    #ffffff 65%,
    #f0d0ed 70%,
    #f698e8 75%,
    #f0aae4 80%,
    #b000a7 85%,
    #72b9f5 95%,
    #fd914e 100%
    );
}

#tabla {
    -fx-background-color: #b000a7;
}

.texto{
    -fx-fill: #CCCCCC;
    -fx-font-size: 16px;
}

.tex{
    -fx-fill: #CCCCCC;
    -fx-font-size: 20px;
}

.titulo {
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-alignment: center;


}

.botones {
    -fx-background-color: #ffffff;
    -fx-fill: #000000;
    -fx-font-size: 20px;
}

.botones:hover {
    -fx-background-color: linear-gradient(to right, #ff4da6, #a64dff);
}